<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('partials/title', { title: '회원 정보 수정' }) %>

    <link rel="stylesheet" href="../static/css/base.css" />
    <link rel="stylesheet" href="../static/css/userUpdate.css" />
  </head>
  <body>
    <%-include('partials/header')%>
    <main>
      <section class="update-content">
        <div class="update-form">
          <h1>회원 정보 수정</h1>
          <form class="update-form">
            <!-- 이름 입력 -->
            <label for="name">이름</label>
            <input type="text" id="name" value="<%=name %>" required />

            <!-- 이메일 입력 -->
            <label for="email">이메일</label>
            <input type="email" id="email" value="<%=email %>" required readonly />

            <!-- 비밀번호 입력 -->
            <label for="password">새 비밀번호</label>
            <input type="password" id="password" placeholder="변경할 비밀번호" />

            <!-- 비밀번호 확인 -->
            <label for="security-answer">비밀번호 확인 답변</label>
            <input
              type="text"
              id="security-answer"
              value="<%=findPw %>"
              placeholder="답변을 입력하세요"
              required
            />

            <!-- 정보 수정 버튼 -->
            <button type="button" onclick="user_update()">수정하기</button>
          </form>
        </div>
      </section>
      <section>
        <div class="image">
          <img src="../static/img/carbs.png" alt="User Update" />
        </div>
      </section>
    </main>
    <%- include('partials/footer') %>
    <script src="../static/js/userUpdate.js"></script>
  </body>
</html>
