<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/title', { title: '마이페이지' }) %>
    <link rel="stylesheet" href="../static/css/base.css" />
    <link rel="stylesheet" href="../static/css/user.css" />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>
  <body
    data-session-id="<%= sessionId %>"
    data-today-intake="<%- JSON.stringify({
      todayBreakfast: userTodayIntakes.todayBreakfast,
      todayLunch: userTodayIntakes.todayLunch,
      todayDinner: userTodayIntakes.todayDinner,
      todayBtwmeal: userTodayIntakes.todayBtwmeal,
    }) %>"
  >
    <%-include('partials/header_after_login')%>
    <main class="main-content">
      <div class="container">
        <!-- 왼쪽 섹션 -->
        <section class="left-section">
          <div class="goal-info">
            <h1
              id="goal-message"
              data-goal-setting-date="<%= isSettingGoal ? goalDate : '' %>"
              data-is-setting-goal="<%= isSettingGoal %>"
              data-username="<%= username %>"
            >
              <% if (isSettingGoal) { %> <%= username %> 님의 목표 달성까지 --일 남았어요!
              <% } else { %> <%= username %> 님, 목표를 설정해주세요! <% } %>
            </h1>
            <p id="today-date"></p>
            <div class="goal-details">
              <div
                class="goal-card kcal-card"
                data-current-calorie="<%= isSettingGoal && userTodayIntakes.todayCal ? userTodayIntakes.todayCal : 0 %>"
                data-max-calorie="<%= isSettingGoal && userGoal.recomIntake ? userGoal.recomIntake : 0 %>"
              >
                <div class="calorie-container">
                  <div class="calorie-bar">
                    <div class="calorie-progress"></div>
                    <div class="calorie-indicator"></div>
                  </div>
                  <div class="calorie-labels"></div>
                </div>
                <span class="spaced-text">
                  권장섭취량 <% if (isSettingGoal && userGoal.recomIntake) { %> <%=
                  userGoal.recomIntake %>kcal <% } else { %> -- kcal <% } %>
                </span>
              </div>
              <div
                class="goal-card weight-card"
                data-current-weight="<%= isSettingGoal && userGoal.weight ? userGoal.weight : 0 %>"
                data-target-weight="<%= isSettingGoal && userGoal.goalWeight ? userGoal.goalWeight : 0 %>"
              >
                <div class="weight-container">
                  <div class="weight-bar">
                    <div class="weight-indicator"></div>
                  </div>
                  <div class="weight-labels"></div>
                </div>
                <span class="spaced-text">
                  몸무게 <% if (isSettingGoal && userGoal.weight) { %> <%= userGoal.weight
                  %>kg <% } else { %> -- kg <% } %>
                </span>
              </div>
              <form action="/user/settingGoal" method="GET">
                <button type="submit" class="btn">목표 설정</button>
              </form>
            </div>
          </div>

          <div class="nutrition-section">
            <% const nutrients = [ { type: 'carbs', name: '탄수화물', value:
            userTodayIntakes.todayCarbo, target: userGoal.recomCarbo }, { type: 'protein',
            name: '단백질', value: userTodayIntakes.todayProtein, target:
            userGoal.recomProtein }, { type: 'fat', name: '지방', value:
            userTodayIntakes.todayFat, target: userGoal.recomFat } ]; %> <%
            nutrients.forEach(nutrient => { %>
            <div class="nutrition-card">
              <div class="nutrition-icon">
                <div class="icon-background background-<%= nutrient.type %>">
                  <img
                    src="../static/img/<%= nutrient.type %>.png"
                    alt="<%= nutrient.name %> 아이콘"
                  />
                </div>
              </div>
              <h2><%= nutrient.name %></h2>
              <p class="nutrition-value">
                <%= nutrient.value || 0 %> / <%= nutrient.target || 0 %>
              </p>
              <span>섭취량</span>
              <div
                class="nutrition-status <%= nutrient.value / nutrient.target <= 0.7 ? 'none' : nutrient.value / nutrient.target <= 1 ? 'half' : 'full' %>"
              >
                <% if (nutrient.value / nutrient.target <= 0.7) { %> 부족해요 ㅠㅠ <% }
                else if (nutrient.value / nutrient.target <= 1) { %> 적당해요! <% } else {
                %> 이제 그만~ <% } %>
              </div>
            </div>
            <% }); %>
          </div>

          <div class="graph-section">
            <h2>일일 영양소 섭취 비율</h2>
            <select id="month-select"></select>
            <div class="graph-container nutrition-card">
              <div id="chart"></div>
            </div>
          </div>
        </section>

        <section class="right-section">
          <div class="section-header">
            <h2>오늘의 식단</h2>
            <button id="add-meal-btn" class="add-meal-btn">+</button>
          </div>
          <div class="date-scroll">
            <div id="date-list" class="date-list"></div>
          </div>
          <div class="meal-info" id="meal-info"></div>
        </section>

        <div class="modal-overlay" id="modal-overlay" style="display: none">
          <div id="meal-modal" class="meal-modal">
            <h2>오늘 식사 정보를 입력해주세요</h2>
            <div class="meal-type-group">
              <button class="meal-type-btn">아침</button>
              <button class="meal-type-btn">점심</button>
              <button class="meal-type-btn">저녁</button>
              <button class="meal-type-btn">간식</button>
            </div>
            <form id="meal-form">
              <label for="carbohydrate">섭취한 탄수화물(g)</label>
              <label for="carbohydrate" class="carbDetail"
                >참고: 순탄수(g) = 총 탄수(g) - 식이섬유(g) - 대체당(g)
              </label>
              <input
                type="text"
                id="carbohydrate"
                placeholder="섭취한 순 탄수화물을 입력해주세요"
              />

              <label for="protein">섭취한 단백질(g)</label>
              <input
                type="text"
                id="protein"
                placeholder="섭취한 단백질을 입력해주세요"
              />

              <label for="fat">섭취한 지방(g)</label>
              <input type="text" id="fat" placeholder="섭취한 지방을 입력해주세요" />

              <div class="button-group">
                <button type="submit" class="modal-submit">완료</button>
                <button type="button" id="cancel-btn" class="modal-cancel">취소</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <% console.log("username, ", username) %>
    </main>

    <%-include('partials/footer')%>
    <script src="../static/js/graph.js"></script>
    <script src="../static/js/userGoal.js"></script>
  </body>
</html>
